
footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	padding-top: (@padding-base-vertical*4); padding-bottom: (@padding-base-vertical*4);

	h3{ margin-bottom: (@margin-base); }
}

.social-media span{ word-wrap: break-word; }

@media (min-width: @screen-sm-min){
	.social-media {
		.block;
		.text-left;
		.margin-top--small;
	}
}